# encoding: UTF-8


<%= javascript_tag do %>

  $(function() {
    var cfId = <%= IssueCustomField.find_by_name('RemainUmVtYWlu').id %>;
    var org = "RemainUmVtYWlu";
    var remain = "<%= l(:remain) %>";
    ["a", "label", "span", "option"].forEach(function(val, i) {
      $(val + ":contains('" + org + "')").each(function() {
        if($(this).contents().last().text().includes(org)) {
          $(this).contents().last().replaceWith(remain);
        }
      });
    });
    $("td.cf_" + cfId).each(function() {
      var id = $(this).parent().find("input[name='ids[]']").val();
      var txt = $(this).text();
      if (!txt) txt = "-";
      $(this).html("<a href='./issue_burndown_chart/" + id + "'>" + txt + "</a>");
    });
  });

<% end %>
